@import "./utilities/all";
@import "./vendor/bulma/config";
@import "./vendor/fontawesome/fontawesome";
//@import "./vendor/fontawesome/light";
@import "./vendor/fontawesome/regular";
//@import "./vendor/fontawesome/solid";
@import "./vendor/fontawesome/brands";
@import "./vendor/fontawesome/duotone";

html,
body {
  background: $color-deep-purple;
}

html {
  height: 100%;
}

body {
  @include calculate-line-height(1);
  position: relative;
  min-height: 100%;
}

// for styling unstyled text
html body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html.fonts-loaded body {
  @include sofia-pro-medium;
}
