@import "../utilities/all";

.projectHero {
  @include positionFixed();
  @include set-z-index("content");
  width: 100%;
  height: 100%;
  &.-makeAbsolute {
    position: absolute;
  }

  &__contentWrapper {
    @include background-size("cover");
    position: relative;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    &.-addGradient {
      &:after {
        @include pseudos;
        @include positionAbsolute($bottom: 0, $left: 0, $right: 0);
        @include background-gradient(
          rgba($color-deep-purple, 0),
          rgba($color-deep-purple, 1),
          "vertical"
        );
        height: 208px;
        z-index: 0;
      }
    }
  }

  &__content {
    @include set-z-index("content");
    @include positionAbsolute($bottom: 32px, $left: 50%, $align: "horizontal");
    width: 100%;
    @include media_queries($desktop) {
      bottom: 72px;
    }
  }

  &__homeHeadline {
    @include sofia-pro-black;
    @include calculate-line-height(1.666666666666);
    font-size: type-scale(2, $dense-font-size);
    color: rgba(white, 0.33);
    margin-bottom: v-rhythm(2, "px");
    letter-spacing: -1.05px;
    padding: 0 32px;
    text-align: center;
    @include media_queries($desktop) {
      @include calculate-line-height(4);
      font-size: type-scale(6, $dense-font-size);
      letter-spacing: -2.96px;
      margin-bottom: v-rhythm(5, "px");
      padding: 0 24px;
    }

    strong {
      color: rgba(white, 1);
    }
  }

  &__homeActions {
    &.is-mobile .level-item {
      flex: 1;
    }
  }

  &__headlineWrapper {
    @include positionAbsolute($bottom: 96px);
    width: 100%;
    z-index: 1;
    @include media_queries($desktop) {
      bottom: 152px;
    }
  }

  &__headline {
    @include sofia-pro-black;
    font-size: type-scale(2);
    letter-spacing: -0.15px;
    background: white;
    position: relative;
    color: black;
    margin: 0 16px;
    padding: 24px 64px 24px 24px;
    line-height: 32px;
    @include media_queries($desktop) {
      font-size: type-scale(6, $dense-font-size);
      letter-spacing: -2.96px;
      margin: 0;
      line-height: 80px;
      padding: 24px 120px 32px 24px;
    }
  }

  &__headlineIcon {
    @include positionAbsolute($right: 24px, $top: 50%, $align: "vertical");
    width: 48px;
    @include media_queries($desktop) {
      width: 104px;
      $right: 24px;
    }
  }

  &__actions {
    @include positionAbsolute($bottom: 32px);
    width: calc(100% - 32px);
    margin-left: 16px;
    z-index: 1;
    @include media_queries($desktop) {
      width: 100%;
      margin-left: 0;
      bottom: 72px;
    }
  }

  &__action {
    width: calc(50% - 4px);
    &.-skillSet {
      background: white;
      color: black;
      padding: 16px 24px 16px 24px;
      mix-blend-mode: screen;
      letter-spacing: -0.79px;
      font-size: 14px;
      @include media_queries($until: $desktop) {
        @include sofia-pro-black;
      }
      @include media_queries($desktop) {
        font-size: type-scale(1);
        letter-spacing: -0.79px;
        padding: 24px 24px 24px 24px;
      }

      strong {
        @include sofia-pro-black;
        text-transform: uppercase;
        @include media_queries($until: $desktop) {
          display: none;
        }
      }
    }
    &.-rightAlign {
      margin-left: auto;
    }
  }

  &__overlay {
    @include positionAbsolute($cover: true);
    @include background-gradient(
      rgba($color-deep-purple, 0.25),
      rgba($color-deep-purple, 1),
      "vertical"
    );
    opacity: 0;
  }

  .-actionMask {
    overflow: hidden;
    height: 56px;
    @include media_queries($desktop) {
      height: 72px;
    }
  }

  &__detailBar {
    @include positionAbsolute($bottom: 0, $left: 0, $right: 0);
    padding: 0 16px;
    height: 88px;
    @include media_queries($desktop) {
      height: 144px;
      padding: 0 24px;
    }
  }

  &__detailBarFill {
    background: white;
    width: 0;
    height: 88px;
    @include media_queries($desktop) {
      height: 144px;
    }
  }
}
