@import "../utilities/all";

.projectHeroImages {
  &__image {
    @include positionAbsolute();
    @include background-size("cover");
    @include set-z-index("body-backgrounds");
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
