@import "../utilities/all";

.callToAction {
  @include sofia-pro-black;
  @include transition(background 0.3s);
  display: block;
  outline: none;
  background: $color-razzmatazz-pink;
  width: 100%;
  line-height: v-rhythm(7, "px");
  color: white;
  text-transform: uppercase;
  padding: 0 v-rhythm(3, "px");
  position: relative;
  font-size: type-scale(0);
  letter-spacing: -0.79px;
  &:before {
    @include transition(all 0.2s ease);
    @include positionAbsolute($top: 8px, $left: 8px);
    @include pseudos;
    width: 56px;
    height: 56px;
    background: rgba(black, 0.3);
    opacity: 0;
  }
  &:hover {
    color: white;
    &:before {
      width: calc(100% - 16px);
      opacity: 1;
    }
  }
  @include media_queries($desktop) {
    font-size: type-scale(1);
    line-height: v-rhythm(9, "px");
  }

  &__icon {
    @include positionAbsolute($right: v-rhythm(3, "px"), $top: 0);
    font-size: type-scale(1);
  }

  &.-is-button {
    border: none;
    text-align: left;
    cursor: pointer;
  }

  &.-is-secondary {
    @include set-prefix(box-shadow, none);
    background: rgb(146, 0, 80);
    &:hover {
      color: white;
    }
  }

  &.-isNav {
    display: inline-block;
    padding-right: v-rhythm(9, "px");
  }

  &.-viewMyWork {
    margin: 0 auto;
    max-width: 240px;
    &:after {
      @include pseudos;
      @include positionAbsolute($top: 100%, $left: 50%, $align: "horizontal");
      width: 1px;
      height: 72px;
      background: $color-razzmatazz-pink;
    }
  }

  span {
    position: relative;
  }
}

.mainNavigation {
  &__menuButton {
    @include button-clean-up;
    background: none;
    border: none;
    padding: 24px;
  }
  &__hireMe {
    @include sofia-pro-black;
    @include transition(all 0.2s);
    color: white;
    display: inline-block;
    margin-right: v-rhythm(3, "px");
    border-bottom: 8px solid $color-razzmatazz-pink;
    font-size: type-scale(1, $dense-font-size);
    letter-spacing: -0.79px;
    line-height: v-rhythm(6, "px");
    padding: 0 v-rhythm(2, "px");
    position: relative;
    @include media_queries($desktop) {
      font-size: type-scale(2);
    }
    &:before {
      @include pseudos;
      @include transition(width 0.2s);
      @include positionAbsolute($top: 0, $left: 0);
      @include set-z-index("body-backgrounds");
      width: 0;
      height: v-rhythm(6, "px");
      background: $color-razzmatazz-pink;
    }
    &:hover {
      color: white;
      border-bottom-color: rgb(186, 0, 83);
      &:before {
        width: 100%;
      }
    }

    span {
      margin-left: v-rhythm(1, "px");
    }
  }
}

.projectMarquee {
  &__action {
    @include transition(all 0.2s);
    color: $color-razzmatazz-pink;
    border-bottom: 8px solid $color-razzmatazz-pink;
  }
}
