@import "../utilities/all";

.showcase {
  padding: v-rhythm(4, "px") v-rhythm(2, "px");
  @include media_queries($desktop) {
    padding: v-rhythm(6, "px") 0;
  }

  &__title {
    @include sofia-pro-black;
    @include calculate-line-height(1.66666666666);
    font-size: type-scale(2);
    letter-spacing: -1.09px;
    color: color-shader($color-deep-purple, 6);
    margin-bottom: v-rhythm(4, "px");
    padding: v-rhythm(5, "px") v-rhythm(1, "px") 0 v-rhythm(1, "px");
    position: relative;
    @include media_queries($desktop) {
      @include calculate-line-height(1.333333333333);
      font-size: type-scale(3);
      letter-spacing: -1.43px;
      margin-bottom: v-rhythm(6, "px");
      padding: v-rhythm(5, "px") v-rhythm(3, "px") 0 v-rhythm(3, "px");
    }
    &:after {
      @include pseudos;
      @include positionAbsolute($top: 0, $left: v-rhythm(1, "px"));
      height: 8px;
      background: color-shader($color-deep-purple, 6);
      width: 10%;
      @include media_queries($desktop) {
        left: v-rhythm(3, "px");
      }
    }
  }

  &__description {
    @include calculate-line-height(1.333333333333);
    color: color-shader($color-deep-purple, 5);
    padding: 0 v-rhythm(1, "px");
    margin-top: -16px;
    margin-bottom: v-rhythm(4, "px");
    letter-spacing: -0.6px;
    @include media_queries($desktop) {
      font-size: type-scale(1);
      letter-spacing: -0.79px;
      margin-top: -8px;
      margin-bottom: v-rhythm(6, "px");
      padding: 0 v-rhythm(3, "px");
    }

    strong {
      color: white;
    }
  }

  &__caption {
    color: color-shader($color-deep-purple, 4);
    padding-top: v-rhythm(2, "px");
    @include media_queries($desktop) {
      font-size: type-scale(1);
    }
  }

  &__screenshot {
    padding: v-rhythm(3, "px");
    background: color-shader($color-deep-purple, -2);
    position: relative;
    &:not(:last-child) {
      margin-bottom: v-rhythm(4, "px");
      @include media_queries($desktop) {
        margin-bottom: v-rhythm(6, "px");
      }
    }

    &.-isFullWidth {
      width: 100vw;
      position: relative;
      margin-left: -32px;
      @include media_queries($until: $desktop) {
        padding-left: 0;
        padding-right: 0;
      }
      @include media_queries($desktop) {
        width: calc(100vw - 48px);
        margin-left: calc(-50vw + 24px);
        left: 50%;
        right: 50%;
        margin-right: -50vw;
      }
      img {
        width: 100%;
      }
    }

    &.-noBg {
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;

      .showcase__phoneMask {
        top: 0;
      }
    }

    img {
      animation: fadeInImage;
      animation-duration: 1.3s;
    }
  }

  &__screenshotWrapper {
    display: flex;
    margin-bottom: v-rhythm(4, "px");
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
    @include media_queries($desktop) {
      margin-bottom: v-rhythm(6, "px");
      margin-right: 0;
      margin-left: 0;
    }

    .showcase__screenshot {
      width: 50%;
      @include media_queries($desktop) {
        width: calc(100% / 3);
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__phoneMask {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 23px;
    z-index: 5;
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
